<!DOCTYPE html>

<html>
<body>
    <a class="btn btn-primary" asp-action="List" asp-controller="Scale">View Scales</a>
    <a class="btn btn-primary" asp-action="Add" asp-controller="Scale">Pick Scale</a> 
    @*<a class="btn btn-primary" asp-action="Create" asp-controller="Admin">Create an Account</a>*@
    <a class="btn btn-primary" asp-action="Login" asp-controller="ManageAccount">View accounts, passwords, and emails</a>
</body>
</html>