
<!DOCTYPE html>
<html>

<head>
    <title>Mozilla CSS Getting Started - JavaScript demonstration</title>
    <script src="~/js/Second.js"></script>

</head>

<body>
    <a asp-action="Index">Front Page</a>
</body>
</html>