<h1>HomePage</h1>

<div>
    <a class="btn btn-primary" asp-action="ScalesPage" asp-controller="Scales">View Scales</a>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Accounts Page</a>
    <a class="btn btn-primary" asp-action="Create" asp-controller="Admin">Create an Account</a>
    <a class="btn btn-primary" asp-action="Login" asp-controller="Account">Login</a>
</div>

