<!DOCTYPE html>

    @if(User.Identity.IsAuthenticated)
    {
        <h1>Hello @User.Identity.Name</h1>
    }
    else
    {
        <h1>Welcome</h1>
    }
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Home Page</title>
        <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/HomePageNavBar.css" />
        <link rel="stylesheet" href="~/css/VerticalNavBar.css" />
        <link rel="stylesheet" href="~/css/FrontPage.css" />
     </head>
    <body>
        @if (User.Identity.IsAuthenticated)
        {
            <ul>
                <li><a class="active" asp-action="Index" asp-controller="Scale"><i class="fa fa-fw fa-music"></i>View Scales</a></li>
                <li><a class="active" asp-action="Index" asp-controller="Home"><i class="fa fa-fw fa-address-card"></i>Accounts Page</a></li>
                <li><a class="active" asp-action="Logout" asp-controller="Account"><i class="fa fa-fw fa-battery-1">Logout</i></a></li>
                <li><a class="active" asp-action="Scale2" asp-controller="Scale"><i class="fa fa-fw fa-music"></i>View Scales 2</a></li>
            </ul>
        }
        else
        {
    <div class="navbar">
        <a class="active" asp-action="Index" asp-controller="Scale"><i class="fa fa-fw fa-music"></i>View Scales</a>
        <a class="active" asp-action="Create" asp-controller="Admin"><i class="fa fa-fw fa-bell"></i>Create An Account</a>
        <a class="active" asp-action="Login" asp-controller="Account"><i class="fa fa-fw fa-anchor"></i>Login</a>
        <a class="active" asp-action="Scale2" asp-controller="Scale"><i class="fa fa-fw fa-music"></i>View Scales 2</a>

    </div>
        }
    </body>

    </html>


