@model QuickScaleAndIdentity.Models.Scale

<div class="scaleSelector">
    <form asp-action="Add" method="post">
        <p>Map Scales</p>
        <p>Root Note</p>
        <select class="select rootNote" asp-for="RootNote">
            <option class="note" value="A">A</option>
            <option class="note" value="A#">A#</option>
            <option class="note" value="B">B</option>
            <option class="note" value="C">C</option>
            <option class="note" value="C#">C#</option>
            <option class="note" value="D">D</option>
            <option class="note" value="D#">D#</option>
            <option class="note" value="E">E</option>
            <option class="note" value="F">F</option>
            <option class="note" value="F#">F#</option>
            <option class="note" value="G">G</option>
            <option class="note" value="G#">G#</option>
        </select>
        <p>Scale</p>
        <select class="scale" asp-for="Mode">
            <option class="intervals" value="major">Major</option>
            <option class="intervals" value="minor">Minor</option>
            <option class="intervals" value="minorMelDes">Melodic Minor (Desc)</option>
            <option class="intervals" value="minorMelAsc">Melodic Minor (Asc)</option>
            <option class="intervals" value="minorHar">Harmonic Minor</option>
            <option class="intervals" value="whole">Whole</option>
            <option class="intervals" value="gypsy">Gypsy</option>
            <option class="intervals" value="pentatonic">Pentatonic</option>
            <option class="intervals" value="octatonic">Octatonic</option>
            <option class="intervals" value="blues">Blues</option>
        </select>
        <button class="setScale"> Set Scale </button>
    </form>
</div>
