<h1>Admin Home Page</h1>

<div>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Accounts Page</a>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Admin">All Accounts</a>
</div>

