@model IEnumerable<User>

<!DOCTYPE html>

<html>
<body>
    <table>
        <thead>
            <tr><td>Username</td><td>Email</td><td>Encrypted Password</td><td>UserId</td></tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Username</td>
                    <td>@x.Email</td>
                    <td>@x.Password</td>
                    <td>@x.UserID</td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Go back</a>
</body>
</html>

