@model IEnumerable<Scale>

<!DOCTYPE html>

<html>
<body>
    <table>
        <thead>
            <tr><td>Root Note</td><td>Mode</td><td>Id</td></tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.RootNote</td>
                    <td>@x.Mode</td>
                    <td>@x.ScaleID</td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Home Page</a>
</body>
</html>